<form action="/score/add">
  User Id:<br>
  <input type="number" name="user_id" value="user_id"><br>
  score:<br>
  <input type="number" name="score" value="score"><br>
  <input type="submit" value="Submit">
</form>