<b>Insert:</b>
<br>

<form action="/score/add">
  User Id:<br>
  <input type="number" name="user_id" value="user_id"><br>
  score:<br>
  <input type="number" name="score" value="score"><br>
  <input type="submit" value="Submit">
</form>


<br>
<b>Leaderboard:</b>
<br>
<form action="/score/leaderboard">
  Count:<br>
  <input type="number" name="count" value="count"><br>
  <input type="submit" value="Submit">
</form>

<br>
<b>Neighbour:</b>
<br>
<form action="/score/neighbour">
  User Id:<br>
  <input type="number" name="user_id" value="user_id"><br>
  N1:<br>
  <input type="number" name="n1" value="n1"><br>
  N2:<br>
  <input type="number" name="n2" value="n2"><br>
  <input type="submit" value="Submit">
</form>